a{text-decoration: none;}
h3:hover{
    margin-left: 10px;
    color: rgb(255, 217, 0);
    font-size: 16pt;
    text-shadow: 2px 3px 5px black;
    transition: 0.3s;
    cursor: pointer;
}
a:hover{
    color: rgb(255, 221, 0);
    
}